/* card index */
.card-shadow {
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2)
}

/* Header */
.index-Position{
    margin-top: 20px;
}

/* Sorting Bar */
.sorting-Bar{
    top: 0px;
    display: none;
}

.hideSortSmall{
    display:none;
}

.hideSortBig{
    display:block;
}

/* button - page index */
.page-link {
    background-color: var(--main);
    border: var(--dark) solid 2px;
    color: var(--dark);
    font-size: 85%
}

.page-link:focus {
    z-index: 3;
    color: var(--dark);
    background-color: var(--white);
    -webkit-box-shadow: 0px 0px 11px 1px #000000;
    box-shadow: 0px 0px 11px 1px #000000;
}

.page-link:hover {
    z-index: 2;
    color: var(--dark);
    background-color: var(--white);
    border-color: var(--dark);
}

.page-link.active,.active>.page-link {
    z-index: 3;
    color: var(--dark);
    background-color: var(--white);
    border-color: var(--dark);
}

.page-link.disabled,.disabled>.page-link {
    color: var(--light);
    background-color: var(--main);
    border-color: var(--dark);
}

.h404{

    height: 30vh;
    background-color: #FFC901;
    box-shadow: rgba(0, 0, 0, 0.673) 3px 3px 10px 3px;
}

.img-logo2{
    height: 300px;
    width: 450px;
}

@media screen and (min-width: 768px){
    .hideSortBig{
        display:block;
        margin-top:100px;
    }

}

@media screen and (min-width: 1200px) {
    .hideSortSmall{
        display:block;
    }

    .hideSortBig{
        display:none;
    }

    .index-Position{
        margin-top: 90px;
    }

    .sorting-Bar{
        top: 62px;
        z-index: 1;
        border: 2px solid black;
        background-color: rgba(165, 165, 165, 0.95);
        display: unset;
    }
}

@media screen and (min-width: 1400px) {
    .hideSortSmall{
        display:block;
    }

    .hideSortBig{
        display:none;
    }

    .index-Position{
        margin-top: 90px;
    }

    .sorting-Bar{
        top: 61px;
        z-index: 1;
        border: 2px solid black;
        background-color: rgba(165, 165, 165, 0.95);
        display: unset;
    }
}

@media screen and (min-width: 1600px) {

    .index-Position{
        margin-top: 98px;
    }

    .sorting-Bar{
        top: 60px;
        z-index: 1;
        border: 2px solid black;
        background-color: rgba(165, 165, 165, 0.95);
        display: unset;
    }

}