/* Header */
.logo-custom {
    width: 72%;
    height: auto;
}
.visibilityHide{
    visibility: hidden;
}
.img-header {
    width: 57%;
    margin-top: 3%;
}

/* Searchbarhome */

.widthCustom {
    width: auto;
}

/* Countdown */
.height-countdown {
    height: 450px;
}

/* Service: Spedizione, servizio clienti, ... */
.serviceHome {
    border: 2px dotted var(--light);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    
}


/* Section our team */
.borderFooter {
    background-color: var(--dark);
    color: var(--main);
}

.cardFlipPersonalize {
    width: 250px;
    height: 270px;
}

.flipCard {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* perspective: 1000px; */
}

.cardInner {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardBack {
    color: var(--main);
    height: 190px;
    transform: rotateY(180deg);
}

.our-image{
    height: 167.56px;
    width: 248px;
}

.margin-top{
    margin-top: 180px;
}

.commentPosition{
    left: unset;
    right: 0;
    margin-bottom: 90px;
}

.commentTitle{
    display: none;
}

.commentShadow{
    box-shadow: 3px 3px 10px 3px rgb(4 4 4 / 37%);
}

.toast{
    z-index: 1030;
}

.toastLogo{
    height: 25px;
}

/* MediaQuerry */
@media screen and (min-width: 768px) {

    .logo-custom {
        width: 60%;
        height: auto;
    }
    .visibilityHide{
        visibility: visible;
    }
    .h-header-custom {
        height: 75vh;
        padding-top:2%;
    }

    .margin-counter{
        margin-left: 6%;
    }

    .commentPosition{
        left: unset;
        right: 0;
        margin-bottom: unset;
    }

    .commentTitle{
        display: block;
    }
    
}