/* Google Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
p, ul, li{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}


/* Root */
:root{
    --main: #FFBA08;
    --dark: #000000;
    --light: #7F7F7F;
    --white: #F2F2F2;
}

    /* Background Color Root */
    .main-bg{
        background-color: var(--main);
    }
    .dark-bg{
        background-color: var(--dark);
    }
    .light-bg{
        background-color: var(--light);
    }
    .white-bg{
        background-color: var(--white);
    }

    /* Text Color Root */
    .main-text{
        color: var(--main);
    }
    .dark-text{
        color: var(--dark);
    }
    .light-text{
        color: var(--light);
    }
    .white-text{
        color: var(--white);
    }

/* Navbar */
.fixed-nav{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.nav-btn{
    color: var(--dark);
}

/* MediaQuerry */
@media screen and (min-width: 992px) {
    .fixed-nav{
        bottom: unset;
        top: 0;
    }
}

.link-costum{
    text-decoration: none;
    color: #000000;
}

.ul-custom{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.category-custom{
    border: solid 3px;
    height: 120px;
    width: 120px;
    border-radius: 15%;
    box-shadow: 3px 3px 8px 3px var(--main);
    
}

.custom-nav{
    border-top: solid 1px;
    color: #7F7F7F;
    box-shadow: 0px 0px 6px 0px #7F7F7F;
}


