/* Google Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
p, ul, li{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}


/* Root */
:root{
    --main: #FFBA08;
    --dark: #000000;
    --light: #7F7F7F;
    --white: #F2F2F2;
    --mainLight: #fcca4a;
    --mainDark: #c7930f;
}

    /* Background Color Root */
    .main-bg{
        background-color: var(--main);
    }
    .dark-bg{
        background-color: var(--dark);
    }
    .light-bg{
        background-color: var(--light);
    }
    .white-bg{
        background-color: var(--white);
    }

    /* Text Color Root */
    .main-text{
        color: var(--main);
    }
    .dark-text{
        color: var(--dark);
    }
    .light-text{
        color: var(--light);
    }
    .white-text{
        color: var(--white);
    }

/* Navbar */
.navhome-bg{
    background-color: var(--main);
}

.fixed-nav{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.nav-btn{
    color: var(--dark);
}

.link-costum{
    text-decoration: none;
    color: #000000;
}

.category-custom{
    border: solid 3px;
    height: 120px;
    width: 120px;
    border-radius: 15%;
    box-shadow: 3px 3px 8px 3px var(--main);
    
}

.custom-nav{
    border-top: solid 1px;
    color: #7F7F7F;
    box-shadow: 0px 0px 6px 0px #7F7F7F;
}

.hideSpan{
    display:none;
}

.hideIcon{
    display:block;
}

.hideIcon2{
    display:none;
}

.hideLogo{
    display:none;
}

.CustomLogo{
    height: 55px;
    width: auto;
}

.userWidth{
    width: auto;
}

/* button main */
.main-btn{
    --bs-btn-color: #000;
    --bs-btn-bg: var(--main);
    box-shadow: 3px 3px 10px 3px rgba(4, 4, 4, 0.369);
    --bs-btn-border-color: var(--main);
    --bs-btn-hover-color: #000;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--mainDark);
    --bs-btn-active-border-color: var(--main);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--main);
    --bs-btn-disabled-border-color: var(--main);
}

.main-btn:hover{
box-shadow: 3px 3px 10px 3px rgba(4, 4, 4, 0.6);
}

/* dark btn */
.dark-btn{
    --bs-btn-color: #fff;
    --bs-btn-bg: #414549;
    box-shadow: 3px 3px 10px 3px rgba(15, 15, 15, 0.369);
    --bs-btn-border-color: #414549;
    --bs-btn-hover-color: #fff;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--light);
    --bs-btn-active-border-color: #414549;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--light);
    --bs-btn-disabled-border-color: #414549;
}

.dark-btn:hover{
box-shadow: 3px 3px 10px 3px rgba(96, 96, 96, 0.6);
}

/* MediaQuerry */
@media screen and (min-width: 768px) {

    .textNav{
        font-size: 18px;
    }

    .navhome-bg{
        border:none;
        box-shadow:none;
    }

    .fixed-nav{
        bottom: unset;
        top: 0;
        position:relative;
    }

    .hideSpan{
        display: block;
    }

    .hideIcon{
        display:none;
    }

    .hideIcon2{
        display:block;
    }

    .iconUser{
        font-size: 5px;
    }

    .hideLogo{
        display:block;
    }

    .userWidth{
        width: 100%;
    }

}

/* Header */
.logo-custom{
    width:75%;
    height: auto;
}

.img-header{
    width: 70%;
    }

/* Searchbarhome */

.widthCustom{
    width: auto;
}
